<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width" />
  <script src="./assets/js/lib/react.min.js"></script>
  <script src="./assets/js/lib/react-dom.min.js"></script>
  <link rel="stylesheet" href="./assets/css/bundle.css">
</head>
<body>
  <div id="page-container" className="page-container">{{ pageContent }}</div>
  <script src="./assets/js/{{ pageFile }}.js"></script>
  <script type="text/javascript">
    ReactDOM.render(React.createElement({{ pageType }}, null), document.getElementById("page-container"));
  </script>
</body>
</html>
