$whiteColor: #fff;

$thingsToLikeColor: #00c694;
$thingsToWatchColor: #ff5961;

$largeMinBreakpoint: 901px;
$mediumMinBreakpoint: 601px;

$backgroundBlueGrey: #fafbfc;
$toolTipBackgroundColor: #3c4d65;
$tertiaryColor : #969fa9;

$lowColor: #ff5961;
$mediumColor: #ff9a2a;
$highColor: #00c694;
